{% extends "base.html" %}

{% block content %}

<h3 class="py-2"> List of clubs </h3>
<p> 
    Here You can see list of members:
</p>


<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Club ID</th>
        <th scope="col">Club name</th>
        <th scope="col">Number of members</th>
        <th scope="col">Term</th>
      </tr>
    </thead>
    {% for club in clubs %}
    <tbody>
      <tr>
        <td>{{ club.0 }}</td>
        <td>{{ club.1 }}</td>
        <td>{{ club.2 }}</td>
        <td>{{ club.3 }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

{% endblock %}