{% extends "base.html" %}

{% block content %}

<h3 class="py-2"> Polish Parliament </h3>
<p>The application presents basic information about the Polish Parliament based on the API of the government website.</p>

<p>Application let us to check some basic informations:</p>
<p>- terms list, clubs list, member's details</p>
<p>- voting list and mebers's votes</p>
<p>- member's education report, member's age report, absences report</p>

<p>The data was limited to the 9th and 10th terms due to the amount of information provided by the API</p>

<img src="{{ url_for('static', filename='img/sejm.jpg') }}" style="height: 600px;" alt="Sejm">


{% endblock %}