{% extends "base.html" %}

{% block content %}

<!-- DataTales Example -->
<div class="card-body">
    <img src="" class="py-4 img-fluid" style="">
</div>

<h1> 
    --- Update database  ---
</h1><br><br>



<form action="/{{view}}"method="POST">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Are you sure you want to update the database?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="approve">
        <option>Yes</option>
        <option>No</option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>

{% endblock %}