{% extends "base.html" %}

{% block content %}

<!-- DataTales Example -->
<div class="card-body">
    <img src="" class="py-4 img-fluid" style="">
</div>

<h1> 
    --- MEMBERS LIST ---
</h1><br><br>
<p> 
    Here You can see list of members:
</p>


<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id number</th>
        <th scope="col">Last name</th>
        <th scope="col">First name</th>
        <th scope="col">Second name</th>
        <th scope="col">Club</th>
        <th scope="col">Term</th>
        <th scope="col">Details</th>

      </tr>
    </thead>
    {% for member in members %}
    <tbody>
      <tr>
        <td>{{ member.0 }}</td>
        <td>{{ member.10 }}</td>
        <td>{{ member.8 }}</td>
        <td>{{ member.9 }}</td>
        <td>{{ member.4 }}</td>
        <td>{{ member.14 }}</td>
        <td><a href="{{ url_for('member_details', term_id=term, member_id=member.0) }}">link</a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

{% endblock %}